:root{
    --dark : #121212;
    --light: #282828;
    --primary : #666bf0;
    --secondary: #6bb6f3;
    --text-white: #fff;
}

.file-drop-zone{
    max-width: 50rem !important;
    width: 40rem !important;
    height: 10rem !important;
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.file-drop-zone > div > span{
    color: var(--secondary) !important;
}