:root{
    --dark : #121212;
    --light: #282828;
    --primary : #666bf0;
    --secondary: #6bb6f3;
    --text-white: #fff;
}

#login{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: 1px solid var(--text-white);
    border-radius: 2rem;
    color: var(--text-white) !important;
}

#login #main{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
}

#login #sub{
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem;
}

#login #sub #open-register{
    text-decoration: underline;
}

#login #sub #open-register:hover{
    cursor: pointer;
}

#login #login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 22rem;
}