#main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main #create-group-form{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#main #create-group-form #create-button{
    width: 50%;
}