:root{
    --dark : #121212;
    --light: #282828;
    --primary : #666bf0;
    --secondary: #6bb6f3;
    --text-white: #fff;
}

#bar {
    width: 100%;
}

#bar #menu{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    border-bottom: 1px solid var(--text-white);
}