:root{
    --dark : #121212;
    --light: #282828;
    --primary : #666bf0;
    --secondary: #6bb6f3;
    --text-white: #fff;
}

#body{
    background-color: var(--light);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
}

*{
    font-family: 'Kanit', sans-serif;
    box-sizing: inherit;
}

nav{
    background-color: var(--dark);
    display: flex;
    width: 100%;
    padding: 1.5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 4px 0 rgba(255,255,255,.2);
}

nav > a{
    width: 8%;
}

nav > a > img{
    width: 100%;
}

nav > button{
    outline: none;
    border: none;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    color: var(--text-white);
    font-size: 1rem;
    width: auto;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 2rem;
    transition: all ease-in 0.15s;
}

nav > button:hover{
    transform: scale(120%);
    box-shadow: 0 0px 10px 2px var(--primary);
}

#cards{
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

#cards #cards-heading{
    font-size: 3rem;
    color: var(--text-white);
}

#cards-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#cards-list .card{
    width: 25%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
}

#cards-list .card .logo{
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards-list .card .logo > img{
    width: 100%;
}

#cards-list .card .text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

#cards-list .card .text .title{
    font-size: 1.75rem;
    color: var(--text-white);
}

#cards-list .card .text .body{
    font-size: 1.25rem;
    color: var(--text-white);
}


/* a:focus {
    outline: none;
    box-shadow: 0 0 0;
}
a {
    color: #000;
    text-decoration: none;
} */

#land {
    /* margin-top: 1rem; */
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    height: 50rem;
    z-index: 1;
}
.h1 {
    font-family: 'Kanit', sans-serif;
    color: var(--text-white);
    font-size: 3.5rem;
    font-weight: 400;
}

.text {
    font-size: 1.3rem;
}
.hero {
    display: flex;
    width: 100%;
    height: 100%;
}
.hero:before {
    content: '';
    display: block;
    position: absolute;
    /* top: 12.5%; */
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(0.22, 0.4, 0.36, 0.99);
    background-color: var(--primary);
    border-bottom-right-radius: 50px;
}
.hero__curtain {
    /* background-color: red; */
    overflow: hidden;
    position: absolute;
    /* top: 12.5%; */
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(0);
}
.hero__curtain-1 {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 50px;
    background-color: var(--secondary);
    transform: translateX(-100%) translateZ(0);
    transition: transform 1.1s cubic-bezier(0.22, 0.7, 0.36, 0.99) 0.35s, opacity 1s cubic-bezier(0.22, 0.7, 0.36, 0.99) 1s;
}
.hero__curtain-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:var(--primary);
    transform: translateX(-100%) translateZ(0);
    transition: transform 0.5s cubic-bezier(0.22, 0.7, 0.76, 0.99) 0.6666666667s;
}
.hero__diagonal {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    transform: rotateZ(0) scaleY(1) translateZ(0);
    transform-origin: right bottom;
    transition: transform 0.5s cubic-bezier(0.22, 0.7, 0.76, 0.99) 1s;
}
.hero__content {
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 200px auto;
    background-color: transparent;
    text-align: center;
    transform: translateZ(20px);
}
.hero__content-title {
    position: relative;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 1s cubic-bezier(0.22, 0.7, 0.76, 0.99) 1.75s, transform 1s cubic-bezier(0.22, 0.7, 0.76, 0.99) 1.75s;
}
.hero__content-text {
    margin-top: -15px;
    color: var(--text-white);
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s cubic-bezier(0.22, 0.7, 0.76, 0.99) 2.45s, transform 1s cubic-bezier(0.22, 0.7, 0.76, 0.99) 2.45s;
}
.hero.animate:before {
    transform: translateX(0);
}
.hero.animate .hero__curtain-1 {
    opacity: 0.5;
    transform: translateX(0) translateZ(0);
}
.hero.animate .hero__curtain-2 {
    opacity: 1;
    background-color: var(--primary);
    transform: translateX(-80%) translateZ(0);
}
.hero.animate .hero__diagonal {
    transform: rotateZ(58deg) scaleY(5) translateZ(0);
}
.hero.animate .hero__content-title, .hero.animate .hero__content-text {
    opacity: 1;
    transform: translateY(0);
}

footer{
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: var(--text-white);
    font-size: 0.5rem;
}

#working{
    padding-top: 2rem;
    padding-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#working #heading{
    color: var(--text-white);
    font-size: 3rem;
}

#working #cards-list{
    display: flex;
    flex-direction: row;
}

#working #cards-list .card-type2{
    min-height: 25rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    padding: 1.5rem;
    justify-content: space-between;
}

#working #cards-list .card-type2 .logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#working #cards-list .card-type2 .logo > img{
    width: 100%;
}

#working #cards-list .card-type2 .text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

#working #cards-list .card-type2 .text .title{
    font-size: 1.75rem;
    color: var(--text-white);
}

#working #cards-list .card-type2 .text .body{
    font-size: 1.25rem;
    color: var(--text-white);
}