:root{
    --dark : #121212;
    --light: #282828;
    --primary : #666bf0;
    --secondary: #6bb6f3;
    --text-white: #fff;
}

#full{
    color: var(--text-white);
    background-color: var(--light);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#full #left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* background-color: #fff; */
}
#full #right{
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#full #right #main{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
}

#full #right #sub{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    line-height: 120%;
    width: 75%;
    font-size: 1.2rem;
    padding: 1rem;
}

#full #right img{
    padding: 0.5rem;
}