@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root{
    --dark : #121212;
    --light: #282828;
    --primary : #666bf0;
    --secondary: #6bb6f3;
    --text-white: #fff;
}

#register{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: 1px solid var(--text-white);
    border-radius: 2rem;
}

#register #main{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
}

#register #sub{
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem;
}

#register #sub #open-login{
    text-decoration: underline;
}

#register #sub #open-login:hover{
    cursor: pointer;
}

#register #register-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 22rem;
}

#key{
    font-family: 'Source Code Pro', monospace;
    font-size: 0.6rem;
}